<?xml version="1.0" encoding="utf-8"?>
<!--
     Copyright (C) 2015-2016 The CyanogenMod Project
     SPDX-FileCopyrightText: The LineageOS Project
     SPDX-FileCopyrightText: Infinity X

     Licensed under the Apache License, Version 2.0 (the "License");
     you may not use this file except in compliance with the License.
     You may obtain a copy of the License at

          http://www.apache.org/licenses/LICENSE-2.0

     Unless required by applicable law or agreed to in writing, software
     distributed under the License is distributed on an "AS IS" BASIS,
     WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
     See the License for the specific language governing permissions and
     limitations under the License.
-->
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="co.infinity.xparts"
    android:versionCode="1"
    android:versionName="1.0"
    android:sharedUserId="android.uid.system">

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_SURFACE_FLINGER" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.DEVICE_POWER" />
    <uses-permission android:name="android.permission.CAMERA_OPEN_CLOSE_LISTENER" />
    <uses-permission android:name="android.permission.WRITE_SECURE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-sdk
        android:minSdkVersion="24"
        android:targetSdkVersion="30"/>

    <application
        android:label="@string/device_parts_title"
        android:persistent="true"
        android:defaultToDeviceProtectedStorage="true"
        android:directBootAware="true"
        android:theme="@style/Theme.SubSettingsBase.Expressive">

        <receiver
            android:name=".services.BootCompletedReceiver"
            android:enabled="true"
            android:exported="true"
            android:directBootAware="true"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.LOCKED_BOOT_COMPLETED" />
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </receiver>

        <!-- Aux Camera activity -->
        <activity
            android:name=".ui.auxcamera.AuxCameraActivity"
            android:label="@string/aux_camera_title"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.apps" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/aux_camera_summary" />
        </activity>

        <!-- Thermal Compose activity -->
        <activity
            android:name=".ui.thermal.ThermalComposeActivity"
            android:label="@string/thermal_title"
            android:icon="@drawable/ic_thermal_settings"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.system" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/thermal_summary" />
            <meta-data
                android:name="com.android.settings.icon"
                android:resource="@drawable/ic_thermal_settings" />
        </activity>

        <service
            android:name=".services.ThermalService"
            android:permission="ThermalService" />

        <!-- ClearSpeaker activity -->
        <activity
            android:name=".ui.speaker.ClearSpeakerActivity"
            android:label="@string/clear_speaker_title"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.sound" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/clear_speaker_summary" />
        </activity>

        <!-- Display Saturation activity -->
        <activity
            android:name=".ui.saturation.SaturationActivity"
            android:label="@string/saturation_title"
            android:theme="@android:style/Theme.NoTitleBar"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.display" />
            <meta-data
                android:name="com.android.settings.summary"
                android:resource="@string/saturation_summary" />
        </activity>

        <!-- Display Saturation Tile activity -->
        <service
            android:name=".services.SaturationTileService"
            android:label="@string/saturation_title"
            android:icon="@drawable/ic_saturation_tile"
            android:exported="true"
            android:permission="android.permission.BIND_QUICK_SETTINGS_TILE">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE" />
            </intent-filter>
        </service>

        <!-- Gestures activity -->
        <activity
            android:name=".ui.gestures.FpDoubleTapActivity"
            android:label="@string/fp_double_tap_title"
            android:theme="@android:style/Theme.NoTitleBar"
            android:enabled="@*android:bool/config_is_powerbutton_fps"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.settings.action.IA_SETTINGS" />
            </intent-filter>
            <meta-data
                android:name="com.android.settings.category"
                android:value="com.android.settings.category.ia.gestures" />
            <meta-data
                android:name="com.android.settings.summary_uri"
                android:value="content://co.infinity.xparts.summary/fp_double_tap" />
        </activity>

        <provider
            android:name=".services.SummaryProvider"
            android:authorities="co.infinity.xparts.summary"
            android:exported="true" />

        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            tools:replace="android:authorities"/>

        <!-- TilePreferences activity -->
	<activity
            android:name=".ui.TilePreferencesActivity"
            android:exported="true"
            android:theme="@style/Theme.SubSettingsBase">
            <intent-filter>
                <action android:name="android.service.quicksettings.action.QS_TILE_PREFERENCES" />
            </intent-filter>
        </activity>

    </application>
</manifest>
